/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

h3 {
  color: #337ab7;
  font-family: 'Playfair Display', serif;
}

hr {
  margin: 25px 0 5px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#main-content {
  padding-top: 70px;
}

/* Nav */

.navbar {
  background: #efefef;
  border-bottom: 2px solid #337ab7;
}

.nav li {
  font-size: 1.2em;
  margin-top: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}

#nav-logo:focus, #nav-logo:hover {
  text-decoration: none;
}

/* Used to help functionality of nav land on target */

#portfolio-hr,
#edaFinalProject-hr {
  margin-bottom: -60px;
}

#portfolio,
#edaFinalProject {
  padding-top: 60px;
}

/****************/

#nav-logo,
#main-logo {
  font-family: 'Lobster', cursive;
  margin: 5px 0 5px 30px;
  font-size: 2em;
  color: #337ab7;
}

/* Main content */

#main-logo {
  display: none;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid rgba(236, 79, 60, 0.7);
  max-width: 250px;
  margin: 10px auto;
  vertical-align: middle;
  box-shadow: 5px 5px 0 rgba(236, 79, 60, 0.7);
}

#profile-pic-large {
  display: none;
}

.nav-anchors {
  font-size: 2.5em;
  text-decoration: underline;
  margin-bottom: 20px;
}

.project-link {
  text-align: center;
}

.project-link img,
.social-icons {
  transition: all .2s ease-in-out;
}

.project-link img:hover,
.social-icons:hover {
  transform: scale(1.05);
}

.project-link p{
  font-size: 1.5em;
  color: #ec4f3c;
  font-family: 'Playfair Display', serif;
}

.technologies {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
  margin-top: 5px;
  font-family: 'Playfair Display', serif;
}

.eda-pages {
  margin: 20px 0;
  border: 2px solid grey;
  padding: 0;
}

.contact-details {
  color: #ec4f3c;
  font-family: 'Playfair Display', serif;
}

#social-links {
  padding-top: 15px;
  padding-bottom: 20px;
}

.social-icons {
  height: 50px;
  width: 50px;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 2px solid grey;
}

#footer-content {
  padding-top:10px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

#copyright,
#address {
  font-size: 0.8em;
  margin: 0;
  vertical-align: middle;
  color: #337ab7;
}

/****** Daft Punk START ******/

span.shake,
.shake.inline {
	display:inline-block;
}

.shake {
  font-size: 1.5em;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* Bigger */

@-webkit-keyframes bigger {
	50% { font-size: 2em }
}

#bigger {
  color: #03bceb;
}

#bigger:hover,
#bigger:focus {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: bigger;
}

/* Better */

#better {
  color: transparent;
  text-shadow: 0 0 5px rgba(255,77,2,0.7);
}

@-webkit-keyframes better {
	50% {
    color: #ff4d02;
    text-shadow: none;
  }
}

#better:hover,
#better:focus {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: better;
}

/* Faster */

#faster {
  color: #ed519b;
}

@-webkit-keyframes faster {
	50% {
    -webkit-transform: translate(-5px, 0px);
  }
}

#faster:hover,
#faster:focus {
  -webkit-animation-duration: 0.2s;
  -webkit-animation-name: faster;
}

/* Stonger */

#stronger {
  color: #a5cc3b;
}

@-webkit-keyframes stronger {
  10%, 90% { font-weight: 500 }
  20%, 80% { font-weight: 600 }
  30%, 70% { font-weight: 700 }
  40%, 60% { font-weight: 800 }
	50% { font-weight: 900 }
}

#stronger:hover,
#stronger:focus {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: stronger;
}

/****** Daft Punk END ******/

/****** Media Queries START ******/

@media (min-width: 992px) {

  #main-content {
    background: rgba(211, 211, 211, 0.8);
  }

  #nav-logo {
    display: none;
  }

  .profile-pic {
    margin-top: 30px;
  }

  #profile-pic-small {
    display: none;
  }

  #profile-pic-large {
    display: block;
    padding-top: 30px;
  }

  #profile-pic-large img{
    margin-bottom: 30px;
  }

  #main-logo {
    display: block;
    text-align: center;
  }

  #main-logo h2 {
    font-size: 3em;
  }

  #main-logo p {
    margin-top: -20px;
  }

  /* Used to help functionality of nav land on target */

  #portfolio-hr,
  #edaFinalProject-hr {
    margin-bottom: -70px;
  }

  #portfolio,
  #edaFinalProject {
    padding-top: 70px;
  }

}

/****** Media Queries END ******/
