
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}


h3 {
  color: #337ab7;
  font-family: 'Playfair Display', serif;
}

.navbar {
  background: #efefef;
  border-bottom: 2px solid #337ab7;
}

#topCV {
  background: #ec4f3c;
  border: none;
  color: #efefef;
  display: block;
  width: 150px;
  margin: 10px auto 0;
}

#main-logo {
  font-family: 'Lobster', cursive;
  margin: 10px 0 5px 30px;
}

.contactDetails {
  color: #ec4f3c;
  font-family: 'Playfair Display', serif;
}

#top-link:focus, #top-link:hover {
text-decoration: none;
}

#main-content {
  padding-top: 75px;
}

#profile-pic {
  border-radius: 50%;
  border: 1px solid #1560bd;
  max-width: 250px;
  margin: 10px auto;
  vertical-align: middle;
}

.nav-anchors {
  padding-top: 60px;
  margin-top: -60px;
}

.project-link {
  text-align: center;
}
.project-link p{
  font-size: 1.5em;
  color: #ec4f3c;
  font-family: 'Playfair Display', serif;
}

.technologies {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
  margin-top: 5px;
  font-family: 'Playfair Display', serif;
}

.eda-pages {
  margin: 20px 0;
  border: 2px solid grey;
  padding: 0;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 2px solid grey;
}

#copyright,
#address {
  font-size: 0.8em;
  margin: 0;
  vertical-align: middle;
  color: #337ab7;
}

.social-icons {
  height: 50px;
  width: 50px;
}

#footer-content {
  padding-top:10px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

@media (min-width: 992px) {

  #topCV {
    display: inline;
    float: right;
    margin-right: 30px;
  }

  #profile-pic {
    margin-top: 100px;
  }

  #main-logo {
    font-size: 3em;
    margin-left: 80px;
  }

}
